language: ruby
rvm:
  - 2.2
 
install:
  - sudo apt-get install -y jq python-pip
  - sudo pip install boto3 awscli
  - gem install fpm
 
before_script:
  - aws s3 cp s3://cb-devops-repo/{{ deployment_tools_version }}_amd64.deb .
  - sudo dpkg -i ./{{ deployment_tools_version }}_amd64.deb
 
script:
  - bash /opt/spinnaker/tools/build_debs_semver.sh config.json {{ pkg_name }}
  - bash /opt/spinnaker/tools/s3_publish.sh build/{{ pkg_name }}*.deb {{ repo_bucket }}

  